<div class="containter title-container">
    <div class="jumbotron text-center">
            <h1 class="display-2" id="main-title">Welcome to Superhero Designer</h1>
            <a class="btn btn-primary btn-lg" href="<%= items_path %>">Design your Superhero now!</a>
    </div>
</div>